name: Release

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: release-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Release Build ${{ matrix.os }} (${{ matrix.rust }})"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust:
          - stable
          - beta
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: true

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup Rust Toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --release --verbose
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: http-box-ubuntu-${{ matrix.os }}-${{ matrix.rust }}
        path: target

  create-release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # allows for tags access
    - uses: actions/download-artifact@v4
      name: Download for Ubuntu (stable)
      with:
        name: http-box-ubuntu-latest-stable
        path: release-artifacts/http-box-ubuntu-stable
    - uses: actions/download-artifact@v4
      name: Download for Ubuntu (beta)
      with:
        name: http-box-ubuntu-latest-beta
        path: release-artifacts/http-box-ubuntu-beta
    - uses: actions/download-artifact@v4
      name: Download for Windows (stable)
      with:
        name: http-box-windows-latest-stable
        path: release-artifacts/http-box-windows-stable
    - uses: actions/download-artifact@v4
      name: Download for Windows (beta)
      with:
        name: http-box-windows-latest-stable
        path: release-artifacts/http-box-windows-beta
    - uses: actions/download-artifact@v4
      name: Download for macOS (stable)
      with:
        name: http-box-macos-latest-stable
        path: release-artifacts/http-box-macos-stable
    - uses: actions/download-artifact@v4
      name: Download for macOS (beta)
      with:
        name: http-box-macos-latest-stable
        path: release-artifacts/http-box-macos-beta
    - name: Create release
      uses: ncipollo/release-action@1.13.0
      with:
        replacesArtifacts: true
        allowUpdates: true
        artifactErrorsFailBuild: true
        artifacts: "release-artifacts/*"
        body: ${{ github.event.head_commit.message }}
        prerelease: true
        name: Nightly Release
        tag: nightly-build
    - name: Update nightly-build tag
      run: |
        git tag -f nightly-build
        git push -f origin nightly-build
